.navtop {
  display: flex;
  justify-content: flex-end;
}

.navtop > h3 {
  margin:20px
}

.navtop > img {
  display: flex;
  justify-content: flex-start;
}

.core {
  display:flex;
  justify-content: center;
}

.imagesearch {
  margin-left: 45px;
}

.margined {
  margin-left: 20px;
}

.button-right {
  padding-top: 20px;
  text-align: right!important;
}
